<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="easepay.kfc.com.au.easepaykfc" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.aevi.permission.CONFIGURATION" />
    <uses-permission android:name="com.aevi.permission.PAYMENT_REQUEST" />
    <uses-permission android:name="com.aevi.permission.PRINT_SERVICE" />

    <meta-data
        android:name="application-type"
        android:value="vaa_merchant" />
    <meta-data
        android:name="ip-addresses"
        android:value="10.201.38.138/23" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".inputOrderNumberActivity"
            android:label="@string/title_activity_input_order_number" >
        </activity>
        <activity
            android:name=".ProductActivity"
            android:label="@string/title_activity_product" >
        </activity>
        <activity
            android:name=".ShowOrderDetailActivity"
            android:label="@string/title_activity_show_order_detail" >
        </activity>
        <activity
            android:name=".wait"
            android:label="@string/title_activity_wait" >
        </activity>
        <activity
            android:name=".OrderConfirmationActivity"
            android:label="@string/title_activity_order_confirmation" >
        </activity>
        <activity
            android:name=".ScanBarCodeActivity"
            android:label="@string/title_activity_scan_bar_code" >
        </activity>
        <activity
            android:name=".ChooseOrderInputMethodActivity"
            android:label="@string/title_activity_choose_order_input_method" >
        </activity>

        <activity android:name=".SimpleScannerActivity" />
    </application>

</manifest>
